---
export interface Props {
  bg?: string;
  innerClass?: string;
}

const { bg = "", innerClass = "" } = Astro.props;
---

<section class={`py-24 ${bg}`}>
  <div class={`max-w-[1120px] mx-auto px-10 max-md:px-5 ${innerClass}`}>
    <slot />
  </div>
</section>
